.App {
  text-align: center;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 3px solid #72698f;
  color: #282c34;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width:80px;
  height: 50px;
}

span {
  font-size: 35px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
